.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
}
.headerLogo{
    font-size: 24px;
    color: #F9FAF8;
}
.header,ul,a{
display: flex;
padding: 0;
text-decoration: none;
color: #E5E7EB;
list-style: none;
gap: 1rem;
font-size: 18px;
}
.top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    
    padding: 48px;
}
.left_top{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 30%;
}
.top_header{
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}
.text{
    margin-top: -25px;
}
.sign_button{
    background-color: #3882F6;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color:#E5E7EB;
}
.image_top_right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 200px;
    width: 420px;
}