html, body{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1F2937;
    color: white;
}
.headerLogo{
    font-size: 24px;
    color: #F9FAF8;
}
.header,ul,a{
    display: flex;
    padding: 0;
    text-decoration: none;
    color: #E5E7EB;
    list-style: none;
    gap: 1rem;
    font-size: 18px;
}
.top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #1F2937;
    color: #F9FAF8;
    padding: 50px;
    padding-bottom: 100px;
}
.left_top{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 30%;
}
.top_header{
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}
.text{
    margin-top: -25px;
}
.sign_button{
    background: #3882F6;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid #3882F6;
    font-weight: bold;
    color:#E5E7EB;
}
.image_top_right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 200px;
    width: 420px;
}
.informationCards{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 46px;
}
.cardTitle{
 display: flex;
 justify-content: center;
 font-size: 36px;
 font-weight: 800;
 color: #1F2937;  
}
.cardContent{
    border-radius: 15px;
    border-style: solid;
    border-color: #3882F6;
    width: 150px;
    height: 150px;
}
.cardText{
    width: 150px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 3rem;    
}
.quotation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    padding: 100px;
    
}
.quote{
    width: 75%;
}
.quoteAuthor{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
 width: 80%;
}
.callSign{
    display: flex;
    justify-content: space-around;
    background: #3882F6;
    border-radius: 10px;
    width: 800px;
    margin: 75px auto;
    padding: 50px;
}
.callSign button{
    background: #3882F6;
    font-weight: bold;
    font-size: 16px;
    padding: 1px 50px;
    border-radius: 0.5rem;
    color:#E5E7EB;
    border: 2px solid #F9FAF8;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #F9FAF8;
}
.footer{
    display: flex;
    justify-content: center;
    background: #1F2937;
    color: #F9FAF8;
    padding: 25px;
}

